.vtex-slider__dots li button:before {
  color: #979899;
  content: "\25a2";
  font-size: 10px;
  opacity: 0.75;
  font-weight: 900;
}

.vtex-slider__dots li.slick-active button:before {
  color: #f71963;
  opacity: 1;
}

.vtex-slider__dots li {
  margin: 0 3px;
}
